@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: hsl(210, 46%, 95%);
}

.grey {
    background: hsl(210, 46%, 95%);
}

.purple {
    background: hsl(263, 55%, 52%);
}

.light-gray {
    background: hsl(217, 19%, 35%);
}

.dark-gray {
    background: hsl(219, 29%, 14%);
}

.white {
    background: hsl(0, 0%, 100%);
}

.h-1 {
    grid-area: hw;
}

.h-2 {
    grid-area: hf;
}

.h-3 {
    grid-area: ha;
}

.h-4 {
    grid-area: hb;
}

.h-5 {
    grid-area: sb;
}

.p-2 {
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    grid-template-areas: 
        "hw hw hf sb"
        "ha hb hb sb";
}

.br-1 {
    border-radius: 0.5rem;
}

.white-text {
    color: white;
}

.dark-text {
    color: hsl(0, 0%, 50%);
}

img.circle {
    border-radius: 50%;
    border: 5px solid hsl(263, 85%, 60%);
    max-width: 50%;
    height: auto;
}

.client {
    display: flex;
}

.p-l-2 {
    /* padding-left: 0.2rem; */
}

.m-0 {
    margin: 0;
}

.light-gray-text {
    color: hsl(0, 0%, 67%);
}

.caption {
    font-weight: 700;
}

.caption-text {
    font-weight: 700;
    font-size: 150%;
}